html {
  scroll-behavior: smooth;
}

body {
    font-family: 'proximanova', "Proxima Nova", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

#home {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#home h1 {
    padding: 0 5px;
}

#hack-logo {
    height: 37vh;
}

#content {
    background-color: white;
    margin: 0;
    width: 100%;
    position: relative;
}

.spacer {
    height: 2vh;
}

h1 {
    font-size: 2.4em;
    font-weight: 600;
    margin: 3vh 0 2vh 0;
}

h2 {
    font-size: 1.6em;
    font-weight: 200;
    margin: 1vh;
}

@media (max-width: 850px) {
    html {
        font-size: 16px;
    }
	#hack-logo {
		height: 37vh;
	}
}

@media (max-width: 780px) {
    html {
        font-size: 16px;
    }
	#hack-logo {
		height: 37vh;
	}
}

@media (max-width: 724px) {
    html {
        font-size: 16px;
    }
	#hack-logo {
		height: 35vh;
	}
}

@media (max-width: 700px) {
    html {
        font-size: 14px;
    }
	#hack-logo {
		height: 30vh;
	}
}

@media (max-width: 620px) {
    html {
        font-size: 14px;
    }
	#hack-logo {
		height: 25vh;
	}
}