<section name="about" class="about">
	<div class="section-block">
		<div class="outer">
			<h1 class="section-title">ABOUT OH<span class="bold">I/O</span></h1>
			<h2 class="section-subtitle">More than just Ohio's biggest hackathon</h2>
			<!-- <hr>			 -->
		</div>
	</div>
	<div class="outer">
		<div class="maincontent">
			<h3>The Hackathon</h3>
			<p>OHI/O is Ohio State's Hackathon Program. To foster a tech culture amongst students at Ohio State and cultivate technical talent in Columbus and the Ohio region, “OHI/O” — Ohio State’s Second Annual Hackathon and programming contest was held Friday October 3rd 2014 through Sunday October 5th 2014. Over 200 undergraduate and graduate student programmers built working software and demonstrate it to a live audience of students, faculty, and representatives from tech companies. Students competed for over $5000 in prizes and will be judged on categories including technical difficulty, creativity, usefulness, and presentation.</p>
			<div>
				<a class="button" href="https://www.giveto.osu.edu/makeagift/OnlineGivingDonation.aspx?Source_Code=WA&Fund=314817">Sponsor OHI/O</a>
				<a id="mail-link" class="button" href="">Keep me updated</a>	
			</div>
			<h3>The Team</h3>
			<p>OHI/O is hosted by students and Stadd at The Ohio State University. </p>
			<div>
				<a class="button" href="mailto:matt.faluotico+devtest@gmail">Get in touch</a>	
			</div>
		</div>
	</div>
</section>