<section class="contact" name="contact">
	<div class="section-block">
		<div class="outer">
			<h1 class="section-title">Contact</span></h1>
			<h2 class="section-subtitle">Even just to say 'Hi'</h2>
			<!-- <hr>			 -->
		</div>
	</div>
	<div class="outer">
		<div class="maincontent">
			<form>
				<div>
					<div class="sub">
						<label id="email-label" class="input-label">Email</label>
						<input id="email" type="text"
						placeholder="OhioHack@osu.edu"></input>					
					</div>
					<div class="sub">
						<label class="input-label">Subject</label>
						<input id="subject" type="text"
						placeholder="OH"></input>
					</div>
				</div>
				<div class="">
					<label class="input-label">Content</label>
					<textarea id="message" class="message"
					placeholder="IO"></textarea>
				</div>
				<a class="button" id="sendit" href="">Send it</a>
			</form>
		</div>		
	</div>
</section>