<section name="events" class="events">
	<div class="section-block">
		<div class="outer">
			<h1 class="section-title">Organizations</h1>
			<h2 class="section-subtitle">All things hack at OSU</h2>
			<!-- <hr>			 -->
		</div>
	</div>
	<div class="outer">
		<div class="maincontent">
			<div>
				<h3>OHI/O Sponsored Events</h3>
				<p>In anticiaption for OHI/O 2015, student organizers will collaborate with fellow tech student orgs to host tech talks, workshops, and social events throughout the semesters.</p>
			</div>
			<div>
				<div class="sub">
					<h3><a class="headerlink" href="https://opensource.cse.ohio-state.edu/">Open Source Club</a></h3>
					<h3>Thursdays at 7:00 PM, Caldwell 120</h3>
					<p>The Open Source Club at the Ohio State University is astudent organization composed of members who share a common enthusiasm for free, open source software. Our focus is on building a strong community of open source users and developers in order to bring the benefits the respective communities.</p>
				</div>
				<div class="sub">
					<h3><a class="headerlink" href="https://mobileapposu.github.io/">Mobile App Club</a></h3>
					<h3>Tuesdays at 6:30 PM, Caldwell 120</h3>
					<p>The Mobile App Club at OSU was designed by students who are passionate about mobile devices. Our goal is to ship mobile applications using a business apprach to prepare future mobile developers for the real world. Students will pick up Objective-C, Java, and Git.</p>
				</div>
			</div>
			<div>
				<div class="sub">
					<h3><a class="headerlink" href="http://www.cwdgosu.org/">CWDG</a></h3>
					<h3>Wednesdays at 7:00 PM, Dreese 260</h3>
					<p>Collegiate Web Developers are a collection of students, graduates and alumni at the Ohio State University who are making an effort to improve the web. We work hard to make ourselves, and others, better developers.</p>
				</div>
				<div class="sub">
					<h3><a class="headerlink" href="#">Buckeye Hackers</a></h3>
					<h3>Mondays at 7:00 PM, Caldwell 120</h3>
					<p>All things hack at OSU. Buckeye Hackers works to create a hacking community at Ohio State. We have weekly coding challengers, news review, and host each Hackathon.</p>
				</div>
			</div>
			<div>
				<div class="sub">
					<h3><a class="headerlink" href="http://acmw.org.ohio-state.edu/">ACM-W</a></h3>
					<h3>Tuesdays at 12:30, Dreese 159</h3>
					<p>Engage women in activities and projects that aim to improve the working and learning environments for women in computing by mentoring and rolemodeling.</p>
				</div>
				<div class="sub">
					<h3><a class="headerlink" href="https://sites.google.com/site/electronicsosu/">Electronics Club</a></h3>
					<h3>Weekly lab hours, Caldwell 078</h3>
					<p>The hardware hacking club of OSU. The goto place for anything intersting involving electronics.</p>
				</div>
			</div>
		</div>
	</div>
</section>