<section name="events" class="events">
	<div class="section-block">
		<div class="outer">
			<h1 class="section-title">Organizations</h1>
			<h2 class="section-subtitle">All things hack at OSU</h2>
			<!-- <hr>			 -->
		</div>
	</div>
	<div class="outer">
		<div class="maincontent">
			<div>
				<h3>OHI/O Sponsored Events</h3>
				<p>In anticiaption for OHI/O 2015, student organizers will collaborate with fellow tech student orgs to host tech talks, workshops, and social events throughout the semesters.</p>
			</div>
			<div>
				<div class="sub">
					<h3>Open Source Club</h3>
					<p>dfdsfdfsd sdf sf sdf sdf sdf sdf sdf sfsd fg dgj fgnk kfd jkfdjg kdjkd jgkdfj dfkg jdfkgjdfgk sjdfkg kdfg dkfgjh dkfgh kdfghk dghf kdhgk dhgfk jdg kd kjgh kdjghk jd ghkhg kjdh kd hgkdsfj ng gdsf gdfg dfg </p>
				</div>
				<div class="sub">
					<h3>Mobile App Club</h3>
					<p>dfdsfdfsd sdf sf sdf sdf sdf sdf sdf sfsd fg dgj fgnk kfd jkfdjg kdjkd jgkdfj dfkg jdfkgjdfgk sjdfkg kdfg dkfgjh dkfgh kdfghk dghf kdhgk dhgfk jdg kd kjgh kdjghk jd ghkhg kjdh kd hgkdsfj ng gdsf gdfg dfg </p>
				</div>
			</div>
			<div>
				<div class="sub">
					<h3>CWDG</h3>
					<p>dfdsfdfsd sdf sf sdf sdf sdf sdf sdf sfsd fg dgj fgnk kfd jkfdjg kdjkd jgkdfj dfkg jdfkgjdfgk sjdfkg kdfg dkfgjh dkfgh kdfghk dghf kdhgk dhgfk jdg kd kjgh kdjghk jd ghkhg kjdh kd hgkdsfj ng gdsf gdfg dfg </p>
				</div>
				<div class="sub">
					<h3>BuckHacks</h3>
					<p>dfdsfdfsd sdf sf sdf sdf sdf sdf sdf sfsd fg dgj fgnk kfd jkfdjg kdjkd jgkdfj dfkg jdfkgjdfgk sjdfkg kdfg dkfgjh dkfgh kdfghk dghf kdhgk dhgfk jdg kd kjgh kdjghk jd ghkhg kjdh kd hgkdsfj ng gdsf gdfg dfg </p>
				</div>
			</div>
		</div>
	</div>
</section>