<!-- HEADER -->

<header>
	<div class="navigationheader">
		<ul>
			<li class="hb"><a id = "hb" href="">Menu</a>
			<li class="hb-closed"><a class = "socialglyphs" href="https://www.facebook.com/ohiohackathon">f</a></li>
			<li class="hb-closed"><a class = "socialglyphs" href="https://twitter.com/hackohio">t</a></li>
			<li class="hb-closed"><a id="contact-link" href="">Contact</a></li>
			<li class="hb-closed"><a id="events-link" href="#">Organizations</a></li>
			<li class="hb-closed"><a id="stats-link" href="#">Stats</a></li>
			<li class="hb-closed"><a id="about-link" href="#">About</a></li>
		</ul>
	</div>
</header>