<!-- HEADER -->

<header>
	<div>
		<ul>
			<li class="minilogo"><a href=""><%= erb :'partials/logo_plain' %></a></li>
			<li><a class = "socialglyphs" href="https://www.facebook.com/ohiohackathon">f</a></li>
			<li><a class = "socialglyphs" href="https://twitter.com/hackohio">t</a></li>
			<li><a id="contact-link" href="">Contact</a></li>
			<li><a id="events-link" href="#">Organizations</a></li>
			<li><a id="stats-link" href="#">Stats</a></li>
			<li><a id="about-link" href="#">About</a></li>
		</ul>
	</div>
</header>