<!-- HEADER -->

<header>
	<div>
		isoisjf
	</div>
</header>

<!-- <header class="atTop">
	<div class="outer">
		<ul>
			<li><a href="#About">About</a></li>
			<li><a href="#Events">Events</a></li>
			<li id="logo">
			<a href="#top"><%= erb :'partials/logo_plain', :locals => {:size => '80%'} %></a></li>
			<li><a href="#2015">2014</a></li>
			<li><a href="#Contact">Contact</a></li>
		</ul>
	</div>
</header> -->