<section name="intro" class="intro">
	<div class="intro-background"></div>
	<div class="outer">
		<div class="intro-logo-house">
			<%= erb :'partials/logo_plain', :locals => {:size => "100%"} %>
		</div>
		<div class="intro-content">
			<h1 class="title">OH<span class="bold">I/O</span> 2015</h1>
			<hr>
			<h2 class="subtitle">This fall, create something <span>incredible</span></h2>
			<div>
				<a href="">Keep me updated</a>
			</div>
		</div>
	</div>
</section>