<section name="intro">
	<div class="intro-background"></div>
	<div class="outer">
		<div class="intro-logo-house">
			<%= erb :'partials/logo_plain' %>
		</div>
		<div class="intro-content">
			<h1>OHI/O 2015</h1>
		</div>
	</div>
</section>