<svg width="100%" height="100%" viewBox="0 0 546 575" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
    <title>Outline</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="16.9138189%" y1="22.0044665%" x2="84.6181565%" y2="67.1567584%" id="linearGradient-1">
            <stop stop-color="#919191" offset="0%"></stop>
            <stop stop-color="#521B3A" stop-opacity="0.845986187" offset="30.6390751%"></stop>
            <stop stop-color="#881725" stop-opacity="0.930379681" offset="66.8560411%"></stop>
            <stop stop-color="#B61313" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="16.9138189%" y1="22.0044665%" x2="84.6181565%" y2="67.1567584%" id="linearGradient-2">
            <stop stop-color="#979797" offset="0%"></stop>
            <stop stop-color="#521B3A" stop-opacity="0.845986187" offset="30.6390751%"></stop>
            <stop stop-color="#881725" stop-opacity="0.930379681" offset="66.8560411%"></stop>
            <stop stop-color="#B61313" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Outline" sketch:type="MSArtboardGroup" transform="translate(-179.000000, -121.000000)">
            <rect id="Rectangle-8" stroke="url(#linearGradient-1)" stroke-width="9" sketch:type="MSShapeGroup" x="299" y="198" width="76" height="200" rx="2"></rect>
            <path d="M500.565836,616.719388 C555.794311,616.719388 600.565836,571.947863 600.565836,516.719388 C600.565836,461.490913 555.794311,416.719388 500.565836,416.719388 C445.337361,416.719388 400.565836,461.490913 400.565836,516.719388 C400.565836,571.947863 445.337361,616.719388 500.565836,616.719388 Z" id="Oval-4" stroke="url(#linearGradient-1)" stroke-width="9" sketch:type="MSShapeGroup"></path>
            <rect id="Rectangle-9" fill="url(#linearGradient-2)" sketch:type="MSShapeGroup" transform="translate(418.299012, 408.000000) rotate(41.000000) translate(-418.299012, -408.000000) " x="413.799012" y="135.355889" width="9" height="545.288222" rx="2"></rect>
        </g>
    </g>
</svg>