<section name="stats" class="stats">
	<div class="section-block">
		<div class="outer">
			<h1 class="section-title">2014 Stats</h1>
			<h2 class="section-subtitle">For the reporters</h2>
		</div>
	</div>
		<div class="outer">
			<div class="maincontent">
				<div class="row">
					<div class="table-item">
						<span class="number"><p>203</p></span><span class="units"><p>Hackers</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>61</p></span><span class="units"><p>Teams</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>$5,000</p></span><span class="units"><p>in prizes</p></span>
					</div>
				</div>
				<div class="row">
					<div class="table-item">
						<span class="number"><p>21</p></span><span class="units"><p>Women</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>36</p></span><span class="units"><p>Hours of code</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>91%</p></span><span class="units"><p>student satisfaction</p></span>
					</div>	
				</div>
				<div class="row">
					<div class="table-item">
						<span class="number"><p>100,000</p></span> <span class="units"><p>lines of code</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>8</p></span> <span class="units"><p>judges</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>3</p></span> <span class="units"><p>Hours of exercise</p></span>
					</div>	
				</div>
			</div>
	</div>
</section>