<section name="stats" class="stats">
	<div class="section-block">
		<div class="outer">
			<h1 class="section-title">2014 Stats</h1>
			<h2 class="section-subtitle">For the reporters</h2>
		</div>
	</div>
		<div class="outer">
			<div class="maincontent">
				<div class="row">
					<div class="table-item">
						<span class="number"><p>200+</p></span><span class="units"><p>Hackers</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>62</p></span><span class="units"><p>Teams</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>$5000</p></span><span class="units"><p>in prizes</p></span>
					</div>
				</div>
				<div class="row">
					<div class="table-item">
						<span class="number"><p>2</p></span><span class="units"><p>Gold sponsors</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>36</p></span><span class="units"><p>Hours</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>4</p></span><span class="units"><p>student organizers</p></span>
					</div>	
				</div>
				<div class="row">
					<div class="table-item">
						<span class="number"><p>700</p></span> <span class="units"><p>git commits</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>8</p></span> <span class="units"><p>judges</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>1</p></span> <span class="units"><p>family</p></span>
					</div>	
				</div>
			</div>
	</div>
</section>