<section name="stats" class="stats">
	<div class="section-block">
		<div class="outer">
			<h1 class="section-title">2014 Stats</h1>
			<h2 class="section-subtitle">The largest hackathon in Ohio</h2>
		</div>
	</div>
		<div class="outer">
			<div class="maincontent">
				<div class="row">
					<div class="table-item">1</div>
					<div class="table-item">2</div>
					<div class="table-item">3</div>
				</div>
				<div class="row">
					<div class="table-item">4</div>
					<div class="table-item">5</div>
					<div class="table-item">6</div>	
				</div>
				<div class="row">
					<div class="table-item">7</div>
					<div class="table-item">8</div>
					<div class="table-item">9</div>	
				</div>
			</div>
	</div>
</section>