body {
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: rgb(255,255,255);
  color: rgb(33, 33, 33);
  font-family: 'proximanova', Proxima Nova, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3em;

  background-color: black;
  color: white;

  font-size: 24px;
}
nav a {
  margin: 20px 30px;

  color: white;
  text-decoration: none;
}
nav img {
  margin-left: 2em;
  margin-right: auto;
  height: 80%;
}

/* Featured banner */
#featured-banner {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;

  width: 100%;
  height: 20em;
  color: white;

  background-image: url('./hackathon.png');
}
#featured-banner img {
  min-height: 100%;
  min-width: 100%;

  position: relative;
  z-index: -1;
  float: left;
}

/* About blurb */
#about {
  text-align: center;

  width: 60%;
  margin: auto;
}

/* Main events */
#main-events {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;

  margin: auto;
  width: 80%;
}
.event-box {
  display: -webkit-flex;
  display: flex;

  /* Must be relative for img to be absolutely positioned */
  position: relative;

  background-color: rgb(34, 34, 34);
  color: white;

  height: 14em;
  width: 20em;
}
.event-box-text {
  /* Make sure text is at bottom */
  margin-left: 10%;
  margin-bottom: 10%;
  align-self: flex-end;

  font-size: 28px;
}
.event-box img {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 60%;
}

/* Community events */
#community {
  width: 80%;
  margin: auto;

  /* Placeholder */
  height: 25em;
}

/* Footer */
footer {
  background-color: rgb(34, 34, 34);
  color: white;

  padding: 4em 0 2em;

  text-align: center;
}
#email-input {
  background-color: white;
  width: 30%;
  height: 4em;

  margin: auto;
}
#stats {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;

  width: 80%;
  margin: auto;
}
.stat-num {
  font-size: 4em;
}

/*
-----------
Flexbox
-----------
*/
.flex-right {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}
.flex-center {
  align-items: center;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}


/*
-----------
  Classes
-----------
*/
.bottom-left {
  align-self: flex-end;
  margin-left: 5%;
}
.bottom-right {
  align-self: flex-end;
  margin-right: 5%;
}

.red-box {
  background-color: red;
  color: white;
  padding: 10px;
}
.white-box {
  background-color: white;
  color: black;
  padding: 6px;
}
