/* Navbar */
#nav {
  text-align: center;
  position: fixed;
  top: 80vh; /* Should be same as nav.js -> navOriginalPos */
  width: 100%;
  z-index: 100;
  background-color: rgba(255,255,255,0.8);
  font-size: 200%;
}

/*Delete this
.leftsidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index:100;
}*/

.secondary-page #nav {
  position: absolute;
  top: 0;
}
#nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}
#nav li {
    float: none;
    display: inline-block;
    margin: 0;
    color: black;
}
#nav li a {
    display: block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    color: black;
  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
}
#nav li a:hover {
    background-color: #888888;
    color: white;
}

li.nav a:hover:not(.active) {

}
