/* Navbar */
#nav {
  text-align: center;
  position: fixed;
  bottom: 0vh; /* Should be same as nav.js -> navOriginalPos */
  width: 100%;
  z-index: 100;
  background-color: rgba(255,255,255,0.95);
  font-size: 0px;
  margin: 0;
  padding:0;
  height:52px;

}
.secondary-page #nav {
  position: absolute;
  top: 0;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
#nav li {
    float: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: black;
    height:100%;
    margin:0;
    vertical-align:bottom;
}
#nav li a {
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: black;
    height:50%;
    font-size: 22px;
    vertical-align:bottom;


  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
}
#nav li a.hover {
    background-color: #888888;
    color: white;
}

ul li a.active {
    background-color: #bb0000;
    color: white !important;
  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
}

ul li a:hover:not(.active) {
    background-color: #888888;
    color: white;
}
