
body{
    background-image: url("../images/chevron.png");
    font-size: 18px;
    font-family: 'proximanova', 'proxima-nova', Proxima Nova, Helvetica, sans-serif;
}

#container{
width: 75%;
margin: 0 auto;
margin-top:20px;
padding: 3% 5% 4% 5%;
flex: 1 0 auto;
color:#333;
background-color: rgba(255,255,255,1.0);
text-align: center;
box-sizing: border-box;
}

.header{
padding: 20px 0 20px;
margin: 20px 0;
}

hr {
background-image: linear-gradient(to right, #F4C6C4, #BF1313, #F4C6C4);
border: 0;
margin-top: -15px;
height: 1px;
}

h2,h3{
font-family: Halvetica, Arial, sans-serif;
}

h1 #shadow{
text-shadow: 2px 2px 1px white;
}

.title{
background-color: #BB0000;
font-size: 150%;
margin: 0 auto;
margin-bottom:15px;
padding: 5px;
width: 100%;
color: white;
clear: auto;
}

header{
text-align:center;
background: #eee;
color: #1a71b8;
padding: 10px;
min-width:100px;
overflow:hidden;
}

.wrapper img{
height: 100px;
width: 100px;
display: block;
margin:auto;
}

.wrapper{
margin-bottom:20px;
text-align: center;
}

.check{
font-size:2.5em;
color:green;
}


a {
color: #D32707;
text-decoration: none;
border-bottom: solid white 1px;
}

p {
font-size: 16pt;
font-weight: 300;
line-height: 22pt;
}

a.button{
    background-color: #BB0000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width: 250px; margin: 5px;
}
a.button:hover{
    background-color: #BD0000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    font-size: 16px;
    max-width: 250px; margin: 5px;
}

//Footer

#mainfooter {
	position: relative;
	width:100%;
	margin-top: -8%;
	text-align: center;
}

.footer-img{
	float:left;
	background-color:transparent;
	width:100%;
}

.mainfooter-content {
	float:left;
	width:100%;
	background-color: #666666;
	color: white;
	text-align: center
}


.organizer-lg {
	max-height: 100px;
	height: auto;
	max-width: 200px;
    width: auto;
}

.organizer-sm {
	max-height: 50px;
	height:auto;
	margin:5px;
}

a.footer {
	color:white;
	border-bottom: none;
}

.single-sponsor{
	display:block;
	margin:auto;
	width:70%;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
         color: #BB0000;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.nav{
	display:inline;
	width: 75%;
	height: auto;
    border: none;
    margin: -10px auto auto 10px;
}
