<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
        
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="OHI/O 2015: The Ohio State Hackathon.">
    <meta name="keywords" content="Hackathon, OHIO, 2015">
    <meta name="author" content="ohio">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.png">
    <title>OHI/O 2015</title>
  
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/socialglyphs.css">
    <link rel="stylesheet" type="text/css" href="https://www.osu.edu/assets/fonts/webfonts.css">

    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/animatedHeading.js"></script>
    <script type="text/javascript" src="javascripts/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </head>
  
  <body class="views views_about">
    <section name="about" class="about">
	<div class="section-block">
		<div class="outer">
			<h1 class="section-title">ABOUT OH<span class="bold">I/O</span></h1>
			<h2 class="section-subtitle">More than just Ohio's biggest hackathon</h2>
			<!-- <hr>			 -->
		</div>
	</div>
	<div class="outer">
		<div class="maincontent">
			<!-- Video -->
			<div class="videoWrapper">
				<iframe src="https://www.youtube.com/embed/vLFE5nKHSYI" frameborder="0" allowfullscreen></iframe>
			</div>

			<h3>The Hackathon</h3>
			<p>OHI/O is Ohio State's Hackathon Program. To foster a tech culture amongst students at Ohio State and cultivate technical talent in Columbus and the Ohio region, “OHI/O” — Ohio State’s Second Annual Hackathon and programming contest was held Friday October 3rd 2014 through Sunday October 5th 2014. Over 200 undergraduate and graduate student programmers built working software and demonstrate it to a live audience of students, faculty, and representatives from tech companies. Students competed for over $5000 in prizes and will be judged on categories including technical difficulty, creativity, usefulness, and presentation.</p>
			<div>
				<a class="button" href="http://go.osu.edu/sponsorOHIO">Sponsor OHI/O</a>
				<a class="button" href="https://www.giveto.osu.edu/makeagift/OnlineGivingDonation.aspx?Source_Code=WA&Fund=314817">Donate</a>
			
			</div>
			<h3>The Team</h3>
			<p>OHI/O is hosted by students and staff at The Ohio State University. </p>
			<div>
				<a class="button" href="mailto:contact@buckhacks.org">Get in touch</a>	
			</div>
		</div>
	</div>
</section>

  </body>
  <footer>
  Copyright 2015 OHI/O | Made with &#9829; by Buckeye Hackers
  </footer>
</html>