<div class="down-house s">
	<div class="downr w"></div>
	<div class="downl w"></div>
</div>
<div class="section-header s">
	<h1 class="section-title white">Welcome to Columbus, OH</h1>
</div>
<div class="rb">
	<div class="content">
		<p>Join us at “OHI/O” — Ohio State’s Annual 24-hour Hackathon at the Ohio Union. Starting 10am on Saturday November 14th and running through Sunday November 15th, over 300 undergraduate and graduate student programmers will build software and demonstrate it to a live audience of students, faculty, and representatives from tech companies. Students will compete for over $5000 in prizes, including Parrot AR Elite Edition Drones, Google Nexus tablets, and Philips Hue Programmable Lamps. Projects will be judged on categories including technical difficulty, creativity, usefulness, and presentation.</p>

		<div class="video">
			<iframe src="https://www.youtube.com/embed/vLFE5nKHSYI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<p style="margin-bottom: 25px">OHI/O is hosted by students and staff at The Ohio State University. In anticipation for OHI/O 2015, student organizers will collaborate with fellow tech student orgs to host tech talks, workshops, and social events throughout the semesters.</p>
	</div>
</div>
