<div class="down-house s">
	<div class="downr w"></div>
	<div class="downl w"></div>
</div>
<div class="section-header s">
	<h1 class="section-title white">Welcome to Columbus, OH</h1>
</div>
<div class="rb">
	<div class="content">
		<p>Join us at “OHI/O” — Ohio State’s Annual 24-hour Hackathon at the Ohio Union. Starting 10am on Saturday November 14th and running through Sunday November 15th, over 300 undergraduate and graduate student programmers will build software and demonstrate it to a live audience of students, faculty, and representatives from tech companies. Students will compete for over $5000 in prizes, including Parrot AR Elite Edition Drones, Google Nexus tablets, and Philips Hue Programmable Lamps. Projects will be judged on categories including technical difficulty, creativity, usefulness, and presentation.</p>

		<div style="text-align: center; margin: 15px;">
			<img src="img/osu-ballroom.jpg">
		</div>

		<p style="margin-bottom: 25px">You'll be staying in the Archie M. Griffin Grand Ballroom. With over 17,00 square feet, it's and one of the largest ballrooms in Central Ohio - a campus favorite (and for all the right reasons). Known for its three beautiful chandeliers, lighting capabilities, and floor-to-ceiling windows, the ballroom is an ideal location for a night of hacking.</p>

<!-- 		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.4802324463963!2d-83.00859630000001!3d39.99771940000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88388ebf772f0aad%3A0x3a1cdcf1649d2a83!2sThe+Ohio+Union+at+Ohio+State+University!5e0!3m2!1sen!2s!4v1443944742024" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
 -->
	</div>
</div>
