<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
        
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="OHI/O 2015: The Ohio State Hackathon.">
    <meta name="keywords" content="Hackathon, OHIO, 2015">
    <meta name="author" content="ohio">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.png">
    <title>OHI/O 2015</title>
  
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/socialglyphs.css">
    <link rel="stylesheet" type="text/css" href="https://www.osu.edu/assets/fonts/webfonts.css">

    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/animatedHeading.js"></script>
    <script type="text/javascript" src="javascripts/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </head>
  
  <body class="views views_events">
    <section name="events" class="events">
	<div class="section-block">
		<div class="outer">
			<h1 class="section-title">Organizations</h1>
			<h2 class="section-subtitle">All things hack at OSU</h2>
			<!-- <hr>			 -->
		</div>
	</div>
	<div class="outer">
		<div class="maincontent">
			<div>
				<h3>OHI/O Sponsored Events</h3>
				<p>In anticiaption for OHI/O 2015, student organizers will collaborate with fellow tech student orgs to host tech talks, workshops, and social events throughout the semesters.</p>
			</div>
			<div>
				<div class="sub">
					<h3><a class="headerlink" href="https://opensource.cse.ohio-state.edu/">Open Source Club</a></h3>
					<h3>Thursdays at 7:00 PM, Caldwell 120</h3>
					<p>The Open Source Club at the Ohio State University is a student organization composed of members who share a common enthusiasm for free, open source software. Our focus is on building a strong community of open source users and developers in order to bring the benefits the respective communities.</p>
				</div>
				<div class="sub">
					<h3><a class="headerlink" href="https://mobileapposu.github.io/">Mobile App Club</a></h3>
					<h3>Tuesdays at 6:30 PM, Caldwell 120</h3>
					<p>The Mobile App Club at OSU was designed by students who are passionate about mobile devices. Our goal is to ship mobile applications using a business approach to prepare future mobile developers for the real world. Students will pick up Objective-C, Java, and Git.</p>
				</div>
			</div>
			<div>
				<div class="sub">
					<h3><a class="headerlink" href="http://www.cwdgosu.org/">CWDG</a></h3>
					<h3>Wednesdays at 7:00 PM, Dreese 260</h3>
					<p>Collegiate Web Developers are a collection of students, graduates and alumni at the Ohio State University who are making an effort to improve the web. We work hard to make ourselves, and others, better developers.</p>
				</div>
				<div class="sub">
					<h3><a class="headerlink" href="#">Buckeye Hackers</a></h3>
					<h3>Mondays at 7:00 PM, Caldwell 120</h3>
					<p>All things hack at OSU. Buckeye Hackers works to create a hacking community at Ohio State. We have weekly coding challenges, news review, and host Ohio State's annual hackathon.</p>
				</div>
			</div>
			<div>
				<div class="sub">
					<h3><a class="headerlink" href="http://acmw.org.ohio-state.edu/">ACM-W</a></h3>
					<h3>Tuesdays at 12:30 PM, Dreese 159</h3>
					<p>Engage women in activities and projects that aim to improve the working and learning environments for women in computing by mentoring and rolemodeling.</p>
				</div>
				<div class="sub">
					<h3><a class="headerlink" href="https://sites.google.com/site/electronicsosu/">Electronics Club</a></h3>
					<h3>Weekly lab hours, Caldwell 078</h3>
					<p>The hardware hacking club of OSU. The goto place for anything intersting involving electronics.</p>
				</div>
			</div>
		</div>
	</div>
</section>

  </body>
  <footer>
  Copyright 2015 OHI/O | Made with &#9829; by Buckeye Hackers
  </footer>
</html>