<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
        
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="OHI/O 2015: The Ohio State Hackathon.">
    <meta name="keywords" content="Hackathon, OHIO, 2015">
    <meta name="author" content="ohio">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.png">
    <title>OHI/O 2015</title>
  
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/socialglyphs.css">
    <link rel="stylesheet" type="text/css" href="https://www.osu.edu/assets/fonts/webfonts.css">

    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/animatedHeading.js"></script>
    <script type="text/javascript" src="javascripts/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </head>
  
  <body class="views views_intro">
    <div name="intro" class="intro">
	<div class="outer">
		<div class="logo">
			<img src="images/logo_.png">
		</div>
		<div class="intro-content">
			<div>
				<div>
					<h2 class="intro-subtitle">
					<span class="constant">On November 14th, let's create something </span>
					<span class="slot slot-visible">incredible</span>
					</h2>
				</div>

				<div class="maillist">
					<a class="button" href="https://ohio.typeform.com/to/ZPGOe9">I want to attend</a>
				</div>
			</div>
		</div>
	</div>
</div>

  </body>
  <footer>
  Copyright 2015 OHI/O | Made with &#9829; by Buckeye Hackers
  </footer>
</html>