<div class="section-header s">
	<h1 class="section-title white">Prizes</h1>
</div>
<div class="rb">
	<div class="content">
        <div class="df">
            <div class="fs">
                1st Place<span class="units">Samsung VR Kit</span>
            </div>
            <div class="fs">
                2nd Place<span class="units">Myo Armband</span>
            </div>
            <div class="fs">
                3rd Place<span class="units">Leap Motion Controller</span>
            </div>
            <div class="fs">
                Popular Vote<span class="units">FitBit</span>
            </div>
            <div class="fs">
                Most Tech Challenging<span class="units">Amazon Echo</span>
            </div>
            <div class="fs">
                Best Healthcare App (By Wexner)<span class="units">Apple Watch</span>
            </div>
            <div class="fs">
                Most Creative<span class="units">Makey Maker</span>
            </div>
            <div class="fs">
                Best Real-World Application<span class="units">Blade Pico QX</span>
            </div>
            <div class="fs">
                Top Ten<span class="units">Fancy Trophy</span>
            </div>

            <div class="center">
                <p>
                    We also have plenty of great door prizes to give away:
                    <br />
                    Raspberry Pi 2 &#8226; iDap-T3 &#8226; Pencil by FiftyThree &#8226; Tile
                    <br />
                    We'll give away some door prizes at our sponsor's tech talks on Saturday; attend to enter a raffle for a chance to win!
                </p>
            </div>
		</div>
	</div>
</div>