<div class="section-header white">
	<h1 class="section-title">Sponsorship</h1>
</div>
<div class="content">
	<div>
		<p>Without our sponsors, OHI/O would be nonexistant. By joining OHI/O, you'll be in touch with some of the best developers in the state. The team will ensure that you have an incredible experience.</p>
		<p>Interested in sponosorship? <a href="mailto:sponsorship@buckhacks.org">Get In Touch</a> or <a href="http://go.osu.edu/sponsorOHIO">Learn more</a>.</p>
	</div>
	<div class="sponsors df">
		<a 
		ng-repeat="sponsor in sponsors" 
		href="{{sponsor.website}}"
		ng-class="{ff : sponsor.size == 'Y', fm : sponsor.size == 'N'}"
		style="padding:8px;"
		>
			<img style="width: 100%;" src="{{sponsor.img}}" alt="{{sponsors.name}}">
		</a>
	</div>
</div>
