<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
        
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="OHI/O 2015: The Ohio State Hackathon.">
    <meta name="keywords" content="Hackathon, OHIO, 2015">
    <meta name="author" content="ohio">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.png">
    <title>OHI/O 2015</title>
  
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/socialglyphs.css">
    <link rel="stylesheet" type="text/css" href="https://www.osu.edu/assets/fonts/webfonts.css">

    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/animatedHeading.js"></script>
    <script type="text/javascript" src="javascripts/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </head>
  
  <body class="views views_stats">
    <section name="stats" class="stats">
	<div class="section-block">
		<div class="outer">
			<h1 class="section-title">2014 Stats</h1>
			<h2 class="section-subtitle">For the reporters</h2>
		</div>
	</div>
		<div class="outer">
			<div class="maincontent">
				<div class="row">
					<div class="table-item">
						<span class="number"><p>200+</p></span><span class="units"><p>Hackers</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>61</p></span><span class="units"><p>Teams</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>$5,000</p></span><span class="units"><p>in prizes</p></span>
					</div>
				</div>
				<div class="row">
					<div class="table-item">
						<span class="number"><p>65</p></span><span class="units"><p>Gallons of Coffee</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>36</p></span><span class="units"><p>Hours of code</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>91%</p></span><span class="units"><p>student satisfaction</p></span>
					</div>	
				</div>
				<div class="row">
					<div class="table-item">
						<span class="number"><p>100,000</p></span> <span class="units"><p>lines of code</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>16</p></span> <span class="units"><p>judges</p></span>
					</div>
					<div class="table-item">
						<span class="number"><p>45</p></span> <span class="units"><p>Pounds of Apples</p></span>
					</div>	
				</div>
			</div>
	</div>
</section>
  </body>
  <footer>
  Copyright 2015 OHI/O | Made with &#9829; by Buckeye Hackers
  </footer>
</html>