<div class="section-header s">
	<h1 class="section-title white">OHI/O in the past</h1>
</div>
<div class="rb">
	<div class="content">
		<div class="df">
			<div class="fs">
				<span class="number">200+</span><span class="units">Hackers</span>
			</div>
			<div class="fs">
				<span class="number">61</span><span class="units">Teams</span>
			</div>
			<div class="fs">
				<span class="number">$5,000</span><span class="units">in prizes</span>
			</div>
			<div class="fs">
				<span class="number">65</span><span class="units">Gallons of Coffee</span>
			</div>
			<div class="fs">
				<span class="number">36</span><span class="units">Hours of code</span>
			</div>
			<div class="fs">
				<span class="number">91%</span><span class="units">student satisfaction</span>
			</div>	
			<div class="fs">
				<span class="number">1,000,000</span> <span class="units">lines of code</span>
			</div>
			<div class="fs">
				<span class="number">16</span> <span class="units">judges</span>
			</div>
			<div class="fs">
				<span class="number">45</span> <span class="units">Pounds of Apples</span>
			</div>	
		</div>
	</div>
</div>
