<div class="section-header">
	<h1 class="section-title red">Timeline</h1>
</div>
<div class="content">
	<timeline>
	    <timeline-event ng-repeat="event in timeline">
	      <timeline-badge ></timeline-badge>
	      <timeline-panel >
	        <timeline-heading>
	          <h4>{{event.name}}</h4>
	        </timeline-heading>
	        <timeline-when>@ {{event.time}}</timeline-when>
	        <timeline-desc><p>{{event.desc}}</p></timeline-desc>
	      </timeline-panel>
	    </timeline-event>
	  </timeline>
</div>
