html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  color: #303030; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

header {
  width: 100%;
  height: 75px; }

.outer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .outer:after {
    content: "";
    display: table;
    clear: both; }

section {
  position: relative; }

a.headerlink:link {
  color: #bb0000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

a.headerlink:hover {
  color: #666666;
  text-decoration: none; }

.button {
  background-color: white;
  text-decoration: none;
  color: #bb0000;
  padding: 5px 15px 5px 15px;
  font-size: 16pt;
  font-weight: 300;
  display: inline-block;
  margin: 0 10px 0 0px;
  border-color: #bb0000;
  border-style: solid;
  border-width: 2px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .button:hover {
    background-color: #bb0000;
    color: white; }

.bold {
  font-weight: 300; }

.invalid:after {
  color: #bb0000;
  font-weight: 200;
  font-size: 12pt;
  content: ' invalid email'; }

section {
  position: relative;
  background-color: white; }

body {
  font-family: 'proximanova', Proxima Nova, Helvetica, Sans-Serif;
  font-weight: 300; }

.bold {
  font-weight: 400; }

.section-block {
  background-color: rgba(187, 0, 0, 0.6);
  color: white;
  display: block;
  overflow: auto; }
  .section-block hr {
    height: 1px;
    background-color: white;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-left: 12.79471%;
    margin-top: 0; }
    .section-block hr:last-child {
      margin-right: 0; }

.about > .section-block {
  background: linear-gradient(rgba(187, 0, 0, 0.6), rgba(187, 0, 0, 0.6)), url("/images/hacking02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-size: cover; }

.stats > .section-block {
  background: linear-gradient(rgba(102, 102, 102, 0.8), rgba(102, 102, 102, 0.8)), url("/images/onStage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-size: cover; }

.events > .section-block {
  background: linear-gradient(rgba(187, 0, 0, 0.6), rgba(187, 0, 0, 0.6)), url("/images/enterEvent.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-size: cover; }

.contact > .section-block {
  background: linear-gradient(rgba(102, 102, 102, 0.8), rgba(102, 102, 102, 0.8)), url("/images/hack2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-size: cover; }

.section-title {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 42pt;
  margin: 120px 0 3px 15px;
  margin-left: 12.79471%; }
  @media screen and (max-width: 480px) {
    .section-title {
      font-size: 32pt; } }

.section-subtitle {
  font-size: 24pt;
  font-weight: 600;
  margin: 0 0 3px 15px;
  margin-left: 12.79471%; }
  @media screen and (max-width: 480px) {
    .section-subtitle {
      font-size: 18pt; } }

.maincontent {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 12.79471%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14pt; }
  .maincontent:last-child {
    margin-right: 0; }
  .maincontent a {
    color: #bb0000; }
  .maincontent h3 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16pt; }
  .maincontent > p {
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: 400;
    line-height: 15pt;
    text-align: justify; }
  .maincontent h3:first-of-type {
    margin-top: 20px; }
  .maincontent div {
    margin-bottom: 25px; }

.sub {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 48.41578%; }
  .sub:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .sub {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 100%; }
      .sub:last-child {
        margin-right: 0; }
      .sub p {
        min-height: auto; } }
  .sub p {
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 100px; }

input, textarea {
  width: 100%;
  height: 40px;
  resize: none;
  font-family: "proximanova";
  font-size: 14pt;
  padding: 5px;
  -webkit-transition: border-color 0.2s ease-in;
  -moz-transition: border-color 0.2s ease-in;
  transition: border-color 0.2s ease-in;
  border: solid 1px rgba(102, 102, 102, 0.8); }
  input:focus, textarea:focus {
    outline: none;
    border: solid 2px #bb0000; }

.input-label {
  font-weight: 700;
  font-size: 16pt;
  display: block;
  margin-bottom: 5px; }

.message {
  width: 100%;
  height: 100px; }

footer {
  text-align: center; }

.intro {
  height: calc(100% - 65px);
  width: 100%;
  position: relative;
  top: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/gitEvent.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-size: cover;
  z-index: 0; }

.logo {
  width: auto;
  margin: 0;
  text-align: center;
  height: 450px;
  -webkit-transition: height 0.2s ease-in;
  -moz-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in; }
  @media screen and (max-width: 480px) {
    .logo {
      height: 150px;
      margin-top: 0px;
      margin-bottom: 0px; } }
  @media screen and (max-height: 800px) {
    .logo {
      height: 150px;
      margin-top: 0px;
      margin-bottom: 0px; } }

.intro-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .intro-content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .intro-content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%;
      margin-left: 4.2649%; }
      .intro-content:last-child {
        margin-right: 0; } }

.intro-title {
  font-size: 38pt;
  color: white;
  text-align: center;
  font-weight: 100; }
  @media screen and (max-width: 480px) {
    .intro-title {
      font-size: 32pt; } }

.intro-subtitle {
  font-size: 28pt;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .intro-subtitle {
      font-size: 18pt; } }

.maillist {
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;
  text-align: center;
  height: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  .maillist:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .maillist {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      .maillist:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .maillist {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .maillist:last-child {
        margin-right: 0; } }
  .maillist input {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 18pt;
    border-color: #bb0000;
    padding: 0 5px 0 5px;
    border-width: 2px;
    border-style: solid;
    color: #bb0000;
    font-family: "proximanova"; }
    .maillist input:focus {
      outline: none; }
    .maillist input:hover {
      outline: none; }
    .maillist input:hover + .maillist-label-empty {
      color: white;
      background-color: #bb0000; }

.maillist-label-empty {
  pointer-events: none;
  background-color: white; }

.maillist-label {
  position: absolute;
  line-height: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18pt;
  color: #bb0000;
  top: 0;
  border-color: #bb0000;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  @media screen and (max-width: 480px) {
    .maillist-label {
      font-size: 16pt; } }

.maillist-label-full {
  top: 50px;
  background-color: #bb0000;
  color: white;
  cursor: pointer; }

button {
  display: none; }

.slot {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  width: 220px;
  display: inline-block;
  text-align: left; }
  @media screen and (max-width: 900px) {
    .slot {
      text-align: center; } }

.slot-visible {
  -webkit-animation: anim 1s; }

.slot-hidden {
  display: none; }

@-webkit-keyframes anim {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    transform: perspective(400px); } }
.row {
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 0 !important;
  margin-top: 0; }
  @media screen and (max-width: 480px) {
    .row {
      display: block; }
      .row:after {
        content: "";
        display: table;
        clear: both; } }

.table-item {
  display: table-cell;
  width: 33.33333%;
  position: relative;
  padding: 0;
  text-align: center;
  height: 150px;
  margin-bottom: 0 !important;
  margin-top: 0; }

@media screen and (max-width: 480px) {
  .table-item {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 100%; }
    .table-item:last-child {
      margin-right: 0; } }

.number, .units {
  margin: 0;
  height: 50%;
  display: block;
  position: relative; }
  .number p, .units p {
    width: 100%;
    text-align: center;
    position: absolute; }

.number {
  font-weight: 100;
  font-size: 32pt;
  display: block; }
  .number p {
    bottom: 0; }

.units {
  font-weight: 700;
  font-size: 18pt;
  display: block; }
  .units p {
    top: 0;
    text-transform: uppercase; }

header {
  position: relative;
  background-color: rgba(255, 255, 255, 0.95);
  height: 65px;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in; }

header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0px 15px 5px rgba(102, 102, 102, 0.8); }

.header-open {
  height: 100%; }

.hb {
  display: none; }
  @media screen and (max-width: 480px) {
    .hb {
      display: block; } }

@media screen and (max-width: 480px) {
  .hb-closed {
    display: none; } }

.hb-open {
  display: block;
  float: none;
  background-color: white;
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

header ul li {
  display: inline;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  height: 65px;
  line-height: 65px;
  text-align: center; }
  @media screen and (max-width: 480px) {
    header ul li {
      text-align: center;
      display: block;
      float: none; } }
  header ul li a {
    -webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
    font-size: 18pt;
    font-weight: 400;
    color: #666666;
    text-decoration: none; }
    @media screen and (max-width: 900px) {
      header ul li a {
        font-size: 14pt; } }
    header ul li a:hover {
      color: #bb0000; }

/*# sourceMappingURL=main.css.map */
