#countdown {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    text-align: center;
}

#countdown > div {
    width: 75px;
}

.time {
    font-size: 2em;
    font-weight: 400;
}

.time-label {
    font-size: 1em;
    margin: 10px;
}
