/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #BF1313;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: -2;
}
