<footer>
  <table id="socialmedia-table">
    <tr>
      <td style="text-align: center;">
        <a class="social-media-image" href="https://www.facebook.com/hackohio"><i class="fa fa-facebook fa-2x"></i></a>
      </td>
      <td style="text-align: center;">
        <a class="social-media-image" href="https://twitter.com/hackohio"><i class="fa fa-twitter fa-2x"></i></a>
      </td>
      <td style="text-align: center;">
        <a class="social-media-image" href="https://www.instagram.com/hackohio/"><i class="fa fa-instagram fa-2x"></i></a>
      </td>
      <td style="text-align: center;">
        <a class="social-media-image" href="https://www.youtube.com/channel/UCJJzEGEjQrpVTY3zEQS0BpA"><i class="fa fa-youtube fa-2x"></i></a>
      </td>
      <td style="text-align: center;">
        <a class="social-media-image" href="https://medium.com/@hackohio"><i class="fa fa-medium fa-2x"></i></a>
      </td>
    </tr>
  </table>
  <br />
  <span>Interested in joining our team or learning about our events? <a href="https://lists.osu.edu/mailman/listinfo/osuhackathons" style="text-decoration: underline;">Join our mailing list!</a></span>
  <br /><br />
  <span>&copy; 2017 OHI/O <a href="/privacy/">Privacy Policy</a></span>
</footer>
