<footer>
  <table id="socialmedia-table">
    <tr>
      <td style="text-align: center;">
        <a class="social-media-image" href="https://www.facebook.com/hackohio"><i class="fa fa-facebook fa-2x"></i></a>
      </td>
      <td style="text-align: center;">
        <a class="social-media-image" href="https://twitter.com/hackohio"><i class="fa fa-twitter fa-2x"></i></a>
      </td>
      <td style="text-align: center;">
        <a class="social-media-image" href="https://www.instagram.com/hackohio/"><i class="fa fa-instagram fa-2x"></i></a>
      </td>
      <td style="text-align: center;">
        <a class="social-media-image" href="https://www.youtube.com/channel/UCJJzEGEjQrpVTY3zEQS0BpA"><i class="fa fa-youtube fa-2x"></i></a>
      </td>
      <td style="text-align: center;">
        <a class="social-media-image" href="https://medium.com/@hackohio"><i class="fa fa-medium fa-2x"></i></a>
      </td>
    </tr>
  </table>
  <br />
  <span>&copy; 2017 OHI/O <a href="privacy/index.html">Privacy Policy</a></span>
</footer>
