@charset "UTF-8";

/* --------------------------- */
/* Element CSS                 */
/* --------------------------- */

* {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

body, html {
	height: 100%;
	font-family: 'proximanova', Proxima Nova, Helvetica, Sans-Serif;
	animation: bg 8s infinite;
	max-width: 100%;
	overflow-x: hidden;
}

a {
	font-weight: 400;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

canvas {
	display: block;
}

h1 {
	color: #333333;
	font-size: 2.4em;
}

h2 {
	color: #333333;
	font-size: 1.6em;
	font-weight: 600;
}

h3 {
	font-weight: 600;
}

hr {
	background-image: linear-gradient(to right, #F4C6C4, #BF1313, #F4C6C4);
	border: 0;
	margin-top: -15px;
	height: 1px;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

p {
	margin: 0;
	font-size: 16pt;
	font-weight: 300;
	line-height: 22pt;
}

/* --------------------------- */
/* Class CSS                   */
/* --------------------------- */

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.full-width {
	left: 0;
	width: 100%;
}

.bold {
	font-weight: bold;
}

.button {
	background-color: #BB0000;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	width: 200px;
}

.canvasContent {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
}

.topNotice {
	background: #BB0000;
	height: 120px;
}

.innerContent {
	width: 70%;
}

.border {
	height: 5px;
}

.social-media-image {
	padding: 10px;
}

.fa {
	color: #BB0000;
}

.bigText {
	font-size: 100px;
}

.smallText {
	font-size: 75%;
}

.faqText {
	font-size: 110%;
}

.compress {
	font-weight: normal;
	margin: 0px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.txt-red {
	color: #BB0000;
}

.txt-white {
	color: #FFFFFF;
}

.black {
	color: #000000;
}

.bg-red {
	background-color: #BB0000;
}

.bg-red-alt {
	background-color: #BF1313;
}

.bg-dark {
	background-color: #373435;
}

.clear {
	clear: both;
	padding-top: 30px;
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
}

.table {
	display: table;
}

.height-padding {
	padding: 10px 0px;
}

.height-padding-lg {
	padding: 20px 0px;
}

.low-bottom-margin {
	margin-bottom: 3px;
}

.low-top-margin {
	margin-top: 3px;
}

.nav-link {
	margin: 0;
	font-size: 16pt;
	font-weight: 300;
	line-height: 22pt;
	padding: 0px 10px;
}

.sponsor-huge {
	width: 100%;
	max-width: 650px;
}

.sponsor-big {
	width: 100%;
	max-width: 600px;
}

.sponsor-med {
	width: 100%;
	max-width: 400px;
}

.sponsor-sm {
	width: 100%;
	max-width: 300px;
}

.box-gray {
	background-color: #D9D9D9;
	padding: 3px;
}

.box-darkgray {
	background-color: #333333;
	color: #FFFFFF;
	padding: 3px;
}

.box-white {
	background-color: #FFFFFF;
	padding: 3px;
}

.bordered { 
	border: 1px solid #AAAAAA;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	margin-top: 25px;
	margin-bottom: 25px;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* --------------------------- */
/* ID CSS                      */
/* --------------------------- */
#cursor{
	font-weight:100;
}

#textLogo {
	max-width: 90%;
	height: auto;
}

#mainLogo {
	max-width: 90%;
	height: auto;
}

#content {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	margin: 0 auto;
	text-align: center;
}

#footer {
	position: absolute;
	left: 0px;
	text-align: center;
	width: 100%;
	padding: 0px 10px;
}


footer-red {
   padding: 1em;
   color: white;
   background-color: #BB0000 ;
   clear: left;
   text-align: center;
}

#triangle-header { 
	width: 100%; 
	height: 112px;
	background-image: url('../../images/layout/header-triangles.png');
	background-position: 0px 0px;
}

#triangle-footer { 
	width: 100%; 
	height: 112px;
	background-image: url('../../images/layout/footer-triangles.png');
	background-position: 0px 0px;
}

#city-footer { 
	width: 100%; 
	height: 273px;
	background-image: url('../../images/layout/Columbus Skyline.png');
	background-position: 0px 0px;
}