body {
	margin: 0;
	background-color: rgb(0,0,0);
	color: white;
	font-family: 'proximanova', Proxima Nova, Helvetica, sans-serif;
}

h1 {
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 36pt;
	margin: 0;
	text-transform: uppercase;
	line-height: 37pt;
	margin-bottom: 26px;
	box-sizing: border-box;
}

h2 {
	margin: 12px 0;
	font-weight: 200;
	font-size: 14pt;
	box-sizing: border-box;
}

a {
	color: white;
	text-decoration: none;
	border-bottom: solid white 1px;
}

a.social-media-image {
  padding-right: 20px;
	border-bottom: solid white 0px;
}

span.lt {
	font-weight: 200;
}

span.bld {
	font-weight: 400;
}

.content {
	/* max-width: 768px; */
	/* width: 80%; */
	margin: auto;
}

.button {
	background-color: #BB0000;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
  width: 100px;
}

.main {
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 768px;
	/* box-sizing: border-box; */
	width: 80%;
	z-index: 99;
}

@media screen and (max-width: 720px), screen and (max-height: 700px) {
	.main {
		top: 0;
		bottom: 0;
		overflow: auto;
		padding: 30px;
		transform: translate(-50%, 0);
	}
}

.cover {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: rgba(0, 0, 0, 0.5);
}

.logo.lt {
	font-weight: 200;
}

#ytplayer {
  opacity:0.4;
  position: fixed;
  z-index: -99;
  width: 100%;
  height: 100%
}

.bowtie {
	height: 34px;
	vertical-align: baseline;
}

.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.tv .screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	margin: auto;

	opacity: 0;
	transition: opacity .5s;
}
.tv .screen.active {
   opacity: 1;
 }
