body {
  font-family: 'proximanova', Proxima Nova, Helvetica, sans-serif;
}

h1 {
  font-size: 32pt;
  margin-bottom: 26px;
  box-sizing: border-box;
}

.events-secondary-page h2 {
  font-weight: 600;
  font-size: 24pt;
  line-height: 25pt;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
  box-sizing: border-box;
  color: rgb(187, 0, 0);
}

h4 {
  margin: 50px 0 10px 0;
}

p {
  font-weight: 500;
  font-size: 16pt;
  margin-top: 5px;
}

p > span {
  color: dimgray;
}

.events-secondary-page a {
  color: rgb(187, 0, 0);
}

.events-secondary-page {
  position: relative;
  display: none;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  color: black;
  display: flex;
  flex-direction: column;
}

.events-filler {
  min-height: 75px;
}

.events-inner-content {
  width: 75%;
  background-color: #fff;
  padding: 3% 5%;
  border-radius: 0px;
  flex: 1 0 auto;
}

.events-center {
  margin: 0 auto;
  text-align: center;
}
