$mobile : 	"(min-width: 400px)"; // larger than mobile
$little : 	"(min-width: 550px)"; // phablet and small screens
$desktop: "(min-width: 1000px)"; // desktop

$red: rgb(187,0,0);
$black: #333333;
$grey: #666666;

$font: 'proximanova', Proxima Nova, Helvetica, Sans-Serif;

@mixin boarder($color) {
	border: {
		width: 1px;
		style: solid;
		color: $color;
	}
}

body {
	margin: 0;
	font-family: 'proximanova', Proxima Nova, Helvetica, Sans-Serif;
	color: $black;
}


.content {
	overflow: auto;
	width: 95%;
	max-width: 768px;
	margin: 0 auto;
	padding-bottom: 25px;

	@media #{$little} {
		width: 80%;
	}
}

.video {
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-top: 25px;
  margin-bottom: 25px;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.df {
	@include display(flex);
  @include flex-flow(row wrap);
  @include justify-content(space-around);
}

.fs {
	width: 100%;
	margin: 5px;
	float: left;

	@include flex-grow(1);

	height: 100px;

	@media #{$little} {
		width: 45%;
	}

	@media #{$desktop} {
		width: 30%;
	}
}

.ff {
	width: 100%;
	margin: 5px;
}

.fm {
	width: 100%;
	margin: 10px;
	float: left;

	@include flex-grow(1);

	@media #{$little} {
		width: 45%;
	}
}

#stats {
	text-align: center;
}

.number {
	display: block;
	font-size: 28pt;
	font-weight: 200;
	height: 45px;
}

.units {
	display: block;
	font-size: 20pt;
	font-weight: 800;
}

.content a {
	color: $red;
	text-decoration: none;

	&:hover {
		border-bottom: $red solid 1px;
	}
}

.center {
	text-align: center;
}


.sp-s, .sp-m, .sp-l {
	display: inline-block;
	padding: 5%;
	// float: left;
	width: 90%;
	border: 0;


	&:hover {
		border: 0 !important;
	}
}

.sp-s {
	height: 80px;

	@media #{$mobile} {
		height: initial;
	}

	@media #{$little} {
		width: 23.33333333333%;
	}
}

.sp-m {
	height: 150px;

	@media #{$mobile} {
		height: initial;
	}

	@media #{$little} {
		width: 40%;
	}
}


.sp-l {
	@media #{$little} {
		width: 90%;
	}
}
