body, html {
    height: 100%;
    font-family: 'proximanova', Proxima Nova, Helvetica, Sans-Serif;
}

h3{
    text-align: center;
    color: #444444;
}
body{
    background-color: #ffffff;
}
td{
    padding: 4px;
}
hr{
    width: 80%;
}
.txt_white{
    color : #ffffff;
}
.txt_red{
    color : #bb0000;
}
.txt_gray{
    color : #222222;
}
.txt_pink{
    color : lightpink;
}
table.time{
    margin: 0 auto;
}
.text_center{
    text-align: center;
}
.elm_center{
    margin: 0 auto;
}
.fa{
    color: #ffffff;
}
th{
    background-color:#bb0000;
    color: #ffffff;
}
td{
    text-align: justify;
}
a.head{
    color: #ffffff;
}
a.past{
    color: #444444;
}
div.about{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
#textLogo{
    display: block;
	max-width: 90%;
	height: auto;
    margin: auto;
    padding: 10px 0px 5px;
}
#header{
    background-color: #bb0000;
    max-width: 60%;
    margin:auto;
    text-align: center;
    padding: 10px;
}

#footer{
    text-align: center;
    padding: 25px;
    background-color: #666666;
    margin-top: 50px;
}
div.faq{
    max-width: 60%;
    margin:auto;
}

.container {
    width: 98%;
    padding: 0 1%;
    margin: 0 auto;
}

.row {
    margin: 1em 0;
}

.column {
    float: left;
    margin: 0 0 0 2%;
}

.column:first-child {
    margin: 0;
}

.one-fourth.column {
    width: 23.5%;
    text-align:center;
}
