@charset "UTF-8";

/* This file contains CSS related to responsiveness (browser size changes, grids, etc.) */

.section {
	clear: both;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child {
	margin-left: 0;
}

.grp:before, .grp:after {
	display: table;
}

.grp:after { 
	clear:both;
}

.half {
	width: 49.2%;
}

.third {
	width: 32.26%;
}

@media only screen and (max-width: 1000px) {
	.col {
		margin: 1% 0 1% 0%;
	}
	.half {
		width: 100%;
	}
	.third {
		width: 100%;
	}
}

@media screen and (max-width: 750px) {
	#triangle-header {
		width: 100%; 
		height: 35px;
		background-image: url('../../images/header-triangles-small.png');
	}
}