#grid {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.grid-item {
    background: grey;
    opacity: 0;
    transition: opacity 5s ease;
}

.grid-item:hover {
    opacity: .75;
    transition: opacity .075s ease-out;
    transform: scale(1.05);
}

body {
    overflow: hidden;
}