.section-page {
    text-align: center;
    padding: 0 20vw 10vh;
    min-height: 85vh;
}

.section-page h1 {
    font-size: 2em;
    font-weight: 525;
    margin: 4vh 0 2vh 0;
}

.section-page h2 {
    font-size: 1.4em;
    font-weight: 200;
    margin: 1vh;
}

@media (max-width: 850px) {
    .section-page {
        padding: 0 20vw 10vh;
    }
    #schedules {
        padding: 0 20px;
    }
}

@media (max-width: 780px) {
    .section-page {
        padding: 0 20vw 10vh;
    }
    #schedules {
        padding: 0 20px;
    }
}

@media (max-width: 724px) {
    .section-page {
        padding: 0 10vw 10vh;
    }
    #schedules {
        padding: 0;
    }
}

@media (max-width: 700px) {
    .section-page {
        padding: 0 7vw 10vh;
    }
    #schedules {
        padding: 0;
    }
}

@media (max-width: 620px) {
    .section-page {
        padding: 0 10vw 10vh;
    }
    #schedules {
        padding: 0;
    }
}

/** General */
#schedules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#schedule h2 {
    text-align: center;
    color: #bb0000;
    font-weight: 500;
}

#schedule td {
    padding: 7px 15px;
    text-align: left;
}

#schedule td:first-child {
    text-align: right;
    border-right: 2px solid gray;
}

#schedule td:last-child {
    border-left: 2px solid gray;
}

#general-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contactSafety{
    float: left;
    flex: 0 0 300px;
}

#afterwards{
    float: left;
    flex: 0 0 300px;
}

/** Challenges */
#challenge-container {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
}

.challenge-question {
    text-align: left;
}

.challenge-question h3{
    color: #bb0000;
}

.challenge-question p{
    color: #888888;
}

/** Challenges */
#resource-container {
    align-items: left;
}

.resource-section {
    text-align: left;
}

.resource-section h1{
    color: #bb0000;
}

/** Judging */
#judging-container {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
}

.judging-section {
    text-align: left;
}

.judging-section h1{
    color: #bb0000;
}

#prizes-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#prize {
    max-height: 200px;
}

.prizes {
    flex: 0 0 300px;
}

.prizes h2 {
    color: #bb0000;
}
