body {
    font-family: 'proximanova', "Proxima Nova", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

a {
  color: #bb0000;
}

#content {
  margin-left: 300px;
  align-items: center;
  text-align: center;
}

.header{
	background-color: #45403d;
	border: #45403d 3px solid;
  width: 90%;
	margin: 40px auto;
}

.wrapper {
  margin: 0px auto;
  width: 90%;
}

.header h1{
  margin: 5px;
}

.content-box{
	background-color: #FFFFFF;
	color: black;
	border: #45403d 0px solid;
	padding: 25px 50px;
}

#schedules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#schedule h2 {
    text-align: center;
    color: #bb0000;
    font-weight: 500;
}

#schedule td {
    padding: 7px 15px;
    text-align: left;
}

#schedule td:first-child {
    text-align: right;
    border-right: 2px solid gray;
}

#schedule td:last-child {
    border-left: 2px solid gray;
}
