.section-block {
	background-color: $scarlet_trans2;
	// height: 200px;
	color: $white;
	display: block;
	overflow: auto;

	hr {
		height: 1px;
		background-color: $white;
		@include span-columns(9);
		@include shift(1.5);
		margin-top: 0;
	}
}

.about > .section-block {
	background: linear-gradient(
	  $scarlet_trans2, 
	  $scarlet_trans2
	), url("/images/hacking02.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	background-size: cover;	
}


.events > .section-block {

	background: linear-gradient(
	  $scarlet_trans2, 
	  $scarlet_trans2
	), url("/images/onStage.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	background-size: cover;	
}


.section-title {
	
	// typeface
	font-weight: 100;
	text-transform: uppercase;
	font-size: 42pt;

	// grid
	margin: 120px 0 3px 15px;
	@include shift(1.5);
}

.section-subtitle {
	
	// typeface
	font-size: 24pt;
	font-weight: 600;

	// grid
	margin: 0 0 3px 15px;
	@include shift(1.5);

}

.maincontent {
	@include span-columns(9);
	@include shift(1.5);
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 14pt;

	a {
		color: $scarlet;
	}

	h3 {

		margin-bottom: 5px;
		font: {
			weight: 700;
			size: 16pt;
		}
	}

	p {
		margin-bottom: 25px;
	}

	h3:first-of-type {
			margin-top: 20px;
	}

	div {
		// text-align: center;
		margin-bottom: 25px;
	}
}