.section-block {
	background-color: $scarlet_trans2;
	// height: 200px;
	color: $white;
	display: block;
	overflow: auto;
	
	hr {
		height: 1px;
		background-color: $white;
		@include span-columns(9);
		@include shift(1.5);
		margin-top: 0;
	}
}

.about > .section-block {
	background: linear-gradient(
	  $scarlet_trans2, 
	  $scarlet_trans2
	), url("/images/hacking02.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	background-size: cover;	
}

.stats > .section-block {
	background: linear-gradient(
	  $grey_trans, 
	  $grey_trans
	), url("/images/onStage.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	background-size: cover;	
}


.events > .section-block {

	background: linear-gradient(
	  $scarlet_trans2, 
	  $scarlet_trans2
	), url("/images/onStage.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	background-size: cover;	
}


.section-title {
	
	// typeface
	font-weight: 100;
	text-transform: uppercase;
	font-size: 42pt;

	// grid
	margin: 120px 0 3px 15px;
	@include shift(1.5);
}

.section-subtitle {
	
	// typeface
	font-size: 24pt;
	font-weight: 600;

	// grid
	margin: 0 0 3px 15px;
	@include shift(1.5);

}

.maincontent {
	@include span-columns(9);
	@include shift(1.5);
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 14pt;

	a {
		color: $scarlet;
	}

	h3 {

		margin-bottom: 5px;
		font: {
			weight: 700;
			size: 16pt;
		}
	}

	> p {
		margin-bottom: 25px;
		margin-top: 10px;
		font-weight: 400;
		line-height: 15pt;
		text-align: justify;
	}

	h3:first-of-type {
			margin-top: 20px;
	}

	div {
		// text-align: center;
		margin-bottom: 25px;
	}
}


.sub {
	@include span-columns(4.5 of 9);

	@include media($little-screen) {
		@include span-columns(9 of 9);
	}
}

input, textarea {
	
	width: 100%;
	height: 40px;
	resize: none;
	font-family: $proxima;
	font-size: 14pt;
	padding: 5px;

	@include transition(border-color 0.2s ease-in);
	
	border: solid 1px $grey_trans;
	
	&:focus {
		outline: none;
		border: solid 2px $scarlet;
	}
}

.input-label {
	font-weight: 700;
	font-size: 16pt;
	display: block;
	margin-bottom: 5px;
}

.input {

}

.message {
	width: 100%;
	height: 100px;
}