section {
	position: relative;
}

@mixin background-ImageFill ($image, $position: top) {
	background: url($image) no-repeat $position center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}


.button {
	background-color: white;
	text-decoration: none;
	color: $scarlet;
	padding: 5px 15px 5px 15px;
	font-size: 16pt;
	font-weight: 300;
	display: inline-block;
	margin: 0 10px 0 0px;

	border: {
		color: $scarlet;
		style: solid;
		width: 2px;
	}


	@include transition(all 0.2s ease-in);

	&:hover {
		background-color: $scarlet;
		color: white;
	}
}


.bold {
	font-weight: 300;
}


section {
	position: relative;
	background-color: white;
}