header {
	margin-top: calc(100vh - 65px);
	position: relative;
	background-color: rgba(255,255,255,0.95);
	height: 65px;

	@include transition(box-shadow 0.2s ease-in);

	ul .minilogo {
		display: hidden;
		opacity: 0;
	}
}

header.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	z-index: 1;
	box-shadow: 0 0px 15px 5px $grey_trans;

	ul .minilogo {
		display: block;
		opacity: 1;
	}
}

svg g g rect, svg g g path {
	@include transition(fill 0.2s ease-in, stroke 0.2s ease-in);
}

.minilogo {
	float: left;
	height: 55px;
	width: 55px;
	line-height: 65px;
	margin: 5px 0px 5px 5px;
		
	@include transition(opacity 0.2s ease-in);

	a {
		&:hover > svg > g > g  {
			rect {
				stroke: $scarlet;
			}

			path {
				stroke: $scarlet;
			}

			#Rectangle-9 {
				fill: $scarlet;
			}
		}
	}
}

header ul li {
	display: block;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	height: 100%;
	line-height: 65px;

	a {

		@include transition(color 0.3s ease-in);

		font-size: 18pt;
		font-weight: 400;
		color: $grey;
		text-decoration: none;

		&:hover {
			color: $scarlet;
		}		
	}
}