header {
	position: relative;
	background-color: rgba(255,255,255,0.95);
	height: 65px;
	@include transition(box-shadow 0.2s ease-in);
}

header.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	box-shadow: 0 0px 15px 5px $grey_trans;
}

.header-open {
	height: 100%;
}

.hb {
	display: none;
	@include media($mobile) {
		display: block;
	}
}

#hb {

}

.hb-closed {
	@include media($mobile) {
		display: none;
	}
}

.hb-open {
		display: block;
		float: none;
		background-color: $white;
		width: 100%; 
		margin-left: 0;
		margin-right: 0;
}

header ul li {
	display: inline;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	height: 65px;
	line-height: 65px;
	text-align: center;

	@include media($mobile) {
		text-align: center;
		display: block;
		float: none;
	}

	a {

		@include transition(color 0.3s ease-in);

		font-size: 18pt;
		font-weight: 400;
		color: $grey;
		text-decoration: none;

		@include media($little-screen){
			font-size: 14pt;
		}

		&:hover {
			color: $scarlet;
		}		
	}
}