.intro {
	height: calc(100% - 65px);
	width: 100%;
	position: relative;
	top: 0px;
	background: linear-gradient(
	  $black_trans, 
	  $black_trans
	), url("/images/temp.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	background-size: cover;
	z-index: 0;	
}

.logo {	
	width: auto;
	margin: 0;
	text-align: center;
	height: 450px;

	@include transition(height 0.2s ease-in);

	@include media($mobile) {
		height: 150px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	@include media($height) {
		height: 150px;
		margin-top: 0px;
		margin-bottom: 0px;	
	}
}

.intro-content {
	@include span-columns(10);
	@include shift(1);

	@include media($little-screen) {
		@include span-columns(11);
		@include shift(0.5);
	}
}

.intro-title {
	font-size: 38pt;
	color: white;
	text-align: center; 
	font-weight: 100;

	@include media($mobile) {
		font-size: 32pt;
	}
}

.intro-subtitle {
	font-size: 28pt;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	text-align: center;

	@include media($mobile) {
		font-size: 18pt;
	}
}

.maillist {
	margin-top: 35px;
	margin-bottom: 35px;
	position: relative;
	text-align: center;
	height: 50px;
	
	@include transition(all 0.2s ease-in);

	@include span-columns(6);
	@include shift(3);

	@include media($little-screen) {
		@include span-columns(8);
		@include shift(2);		
	}

	@include media($mobile) {
		@include span-columns(10);
		@include shift(1);
	}

	input {
		position: relative;
		width: 100%;
		height: 100%;
		font-size: 18pt;
		border-color: $scarlet;
		padding: 0 5px 0 5px;
		border-width: 2px;
		border-style: solid;
		color: $scarlet;
		font-family: 'proximanova';

		&:focus {
			outline: none;
		}

		&:hover {
			outline: none;
		}

		&:hover + .maillist-label-empty {
			color: $white;
			background-color: $scarlet;
		}
	}
}

.maillist-label-empty {
	pointer-events: none;
	background-color: white;
}

.maillist-label {
	position: absolute;
	line-height: 50px;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 18pt;

	@include media($mobile) {
		font-size: 16pt;
	}

	color: $scarlet;
	top: 0;
	border-color: $scarlet;
	border-width: 2px;
	border-style: solid;

	@include transition(all 0.2s ease-in);
}

.maillist-label-full {
	top: 50px;
	background-color: $scarlet;
	color: $white;
	cursor: pointer;
}

button {
	display: none;
}


.slot {
	@include transition(all 0.5s ease-in);
	width:	220px;
	display: inline-block;
	text-align: left;

	@include media($little-screen) {
		text-align: center;
	}
}

.slot-visible {
 	-webkit-animation: anim 1s;
}

.slot-hidden {
	display: none;
}

// FROM ANIMATE.CSS
@-webkit-keyframes anim {
	0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
  }
}