
.row {
	@include fill-parent();
	@include row(table);
	margin-bottom: 0 !important;
	margin-top: 0;
	@include media($mobile) {
		@include row();
	}
}

@include display-context(table) {
	.table-item {
		@include span-columns(3 of 9, table);
		position: relative;
		padding: 0;
		text-align: center;
		

		height: 150px;
		margin-bottom: 0 !important;
		margin-top: 0;
	}
}

.table-item {
	@include media($mobile) {
		@include span-columns(9 of 9);
	}
}

.number, .units {
	margin: 0;
	height: 50%;
	display: block;
	position: relative;
	p {
		width: 100%;
		text-align: center;
		position: absolute;
	}
}

.number {
	font-weight: 100;
	font-size: 32pt;
	display: block;

	p {
		bottom: 0;
	}
}

.units {

	p {
		top: 0;
		text-transform: uppercase;
	}

	font-weight: 700;
	font-size: 18pt;
	display: block;
}