$red: rgb(187,0,0);
$scarlet: rgb(187,0,0);
$scarlet_trans1: rgba(187,0,0,0.4);
$scarlet_trans2: rgba(187,0,0,0.6);

$grey: rgb(102,102,102);
$grey_trans: rgba(102,102,102,0.8);

$white: rgb(255,255,255);

$black: rgb(48, 48, 48);
$black_trans: rgba(0, 0, 0, 0.6);

$mobile: max-width 480px;
$little-screen: max-width 750px;