@charset "UTF-8";

/* This file contains CSS related to responsiveness (browser size changes, grids, etc.) */

.section {
	clear: both;
	margin-top: 25px;
	margin-bottom: 25px;
}

.col {
	float:left;
	display: block;
	margin-right: 0;
	text-align:center;
	vertical-align: middle;
	height:100%;
}
.col:first-child {
	margin-left: 0;
}

.grp:before, .grp:after {
	display: table;
}

.grp:after {
	clear: both;
}

.half {
	width: 50%;
}

.third {
	width: 33%;
}

.fourth{
	width: 25%;
}

.seventy{
	width:70%;
}

.thirty{
	width:30%;
}

@media only screen and (max-width: 1000px) {
	.col {
		margin: 1% 0 1% 0%;
	}
	.half {
		width: 100%;
	}
	.third {
		width: 100%;
	}

	.fourth {
		width: 100%;
	}

	.seventy{
		width:100%;
	}

	.thirty{
		width:100%;
	}
}

@media screen and (max-width: 750px) {
	#triangle-header {
		width: 100%;
		height: 35px;
		background-image: url('../../images/header-triangles-small.png');
	}
	.topNotice {
		height: 160px;
	}
	h1 {
		font-size: 32pt;
	}
}

@media screen and (max-width: 630px) {
    .countdown-container {
			display: none;
    }
		h1 {
			font-size: 27pt;
		}
}
