body {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: "Calibri", sans-serif;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4em;

  background-color: black;
  color: white;

  font-size: 24px;
}
nav a {
  margin: 20px 30px;

  color: white;
  text-decoration: none;
}

/* Featured banner */
#featured-banner {
  width: 100%;
  height: 15em;
  background-color: red;
  color: white;
}

/* About blurb */
#about {
  text-align: center;

  width: 60%;
  margin: auto;
}

/* Main events */
#main-events {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;

  margin: auto;
  width: 80%;
}
.event-box {
  display: -webkit-flex;
  display: flex;

  background-color: rgb(34, 34, 34);
  color: white;

  height: 14em;
  width: 20em;
}
.event-box-text {
  /* Make sure text is at bottom */
  margin-left: 10%;
  margin-bottom: 10%;
  align-self: flex-end;

  font-size: 28px;
}

/*
-----------
Flexbox
-----------
*/
.flex-right {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}
.flex-center {
  align-items: center;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}


/*
-----------
  Classes
-----------
*/
/*
.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

.red-box {
  background-color: red;
  color: white;
  padding: 10px;
}
.white-box {
  background-color: white;
  color: black;
  padding: 6px;
}
