<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="OHI/O: Fostering a Tech Culture at Ohio State">
    <meta name="keywords" content="Hackathon, OHIO, tech">
    <meta name="author" content="OHI/O">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HackOHI/O 2019</title>

    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/site.css">
    <link rel="stylesheet" type="text/css" href="style/clock.css">
    <link rel="stylesheet" type="text/css" href="style/particlesstyle.css">
		<link rel="stylesheet" type="text/css" href="style/sidebar.css">
    <link rel="stylesheet" type="text/css" href="https://www.osu.edu/assets/fonts/webfonts.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script type="text/javascript" src="script/nav.js"></script>
	</head>
	<body>
		<div id="particles-js"></div>

		<div id="mobile-nav">
				<a id="nav-home" href="index.html">Home</a>
				<div id="nav-links">
				  <a href="challenges.html">Challenges</a>
				  <a href="resources.html">Resources</a>
					<a href="hardware.html">Hardware</a>
				  <a href="judging.html">Judging</a>
					<!--<a href="winners.html">Winners</a>-->
					<a href="/2019">Main Site</a>
				</div>
				<img src="img/menu.svg" id="mobile-menu" onclick="toggleNav()"/>
		</div>

		<div id="sidebar">
			<div id="logo">
				<img src="img/hack-logo.svg" height="250px" width="250px" />
			</div>
			<div id="countdown"></div>

			<div id="nav">
				<a href="index.html">General</a>
			  <a href="challenges.html">Challenges</a>
			  <a href="resources.html">Resources</a>
				<a href="hardware.html">Hardware</a>
			  <a href="judging.html">Judging</a>
				<!--<a href="winners.html">Winners</a>-->
				<a href="/2019">Main Site</a>
			</div>
		</div>

		<div id="content">
				{{ content }}
		</div>

		<script src="script/clock.js"></script>
		<script src="script/particles.min.js"></script>
		<script src="script/particlesapp.js"></script>
		<script type="text/javascript" src="script/sheetrock.min.js"></script>
		<script type="text/javascript" src="script/announcements.js" async></script>
		<script type="text/javascript" src="script/winners.js" async></script>
	</body>
</html>
