---
layout: base
---

<link rel="shortcut icon" href="/assets/images/favicon.ico">
<link rel="stylesheet" href="/assets/font-awesome-4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://www.osu.edu/assets/fonts/webfonts.css">
<link rel="stylesheet" href="/assets/css/redesign-main.css" type="text/css">
<link rel="stylesheet" href="/assets/css/nav.css" type="text/css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Navigation bar -->
{% include navbar.html %}

<!-- The main content of the page -->
{{ content }}

<!-- Footer -->
{% include footer.html %}

<!-- load javascript files -->
<script type="text/javascript" src="/assets/js/sheetrock.min.js"></script>
<script type="text/javascript" src="/assets/js/events.js"></script>
