<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine or request Chrome Frame -->
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name="description" content="OHI/O - {{ page.post_title }}">

		{% assign keywords = page.post_title | downcase | split: " " | join: ", " %}
		<meta name="keywords" content="Hackathon, OHIO, {{ keywords }}">
		<meta name="author" content="OHI/O">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="/assets/images/favicon.png">
		<title>OHI/O: {{ page.post_title }}</title>

		<link rel="shortcut icon" href="/img/favicon.ico">
		<link rel="stylesheet" href="/assets/font-awesome-4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://www.osu.edu/assets/fonts/webfonts.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-51284668-6', 'auto');
			ga('send', 'pageview');
		</script>
	</head>
	<body>
		<br><br><br>
		<div class="content main">
			<h1 class="animated flipInX"><span class="lt">OH</span><span class="bld">I/O</span><br><span class="lt">{{ page.post_title }}</span></h1>
            {{ content }}
			<div style="padding: 2px; width: 100%; text-align: center;">
				<br><br>
				<b><a href="/">Back to Home</a></b>
				<br><br>
				<table style="margin: 0 auto; width: 25%;">
					<tr>
						<td style="text-align: center;">
							<a class="social-media-image" href="https://www.facebook.com/hackohio"><i class="fa fa-facebook fa-2x"></i></a>
						</td>
						<td style="text-align: center;">
							<a class="social-media-image" href="https://twitter.com/hackohio"><i class="fa fa-twitter fa-2x"></i></a>
						</td>
						<td style="text-align: center;">
							<a class="social-media-image" href="https://www.instagram.com/hackohio/"><i class="fa fa-instagram fa-2x"></i></a>
						</td>
						<td style="text-align: center;">
							<a class="social-media-image" href="https://www.youtube.com/channel/UCJJzEGEjQrpVTY3zEQS0BpA"><i class="fa fa-youtube fa-2x"></i></a>
						</td>
						<td style="text-align: center;">
							<a class="social-media-image" href="https://medium.com/@hackohio"><i class="fa fa-medium fa-2x"></i></a>
						</td>
					</tr>
				</table>
				<br>
				<a href="../privacy">Privacy Policy</a>
			</div>
			<br><br><br>
		</div>
	</body>
</html>
