#home-back {
  position: relative;
  height: 100vh;
  z-index: -1;
}

#homepage {
  position: relative;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.make-logo {
    min-width: 275px;
    width: 37vh;
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.secondary-page {
  position: relative;
  display: none;
  width: 100%;
  min-height: 100vh;
  /*display:block;
  overflow:auto;*/
  z-index: 10;
  color: black;
  background-color: #bb0000;
  background-image:url('../images/chevron.png');
  display: flex;
  flex-direction: column;
}

div.filler{
  min-height: 75px;
}

.innerContent{
  width:75%;
  background-color: #fff;
  padding: 3% 5%;
  border-radius: 0px;
  flex: 1 0 auto;
}

.center{
  margin:0 auto;
  text-align: center;
}
